<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="css/style.css" />


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
  </head>
  <body class="goto-here">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/">Hufako</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <a href="/getUserProfile" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/order" class="nav-link">Order</a>
              </li>

            <% if(typeof user !== 'undefined'){ %>
            <li class="nav-item">
              <a href="#" class="nav-link">Hello,<b><%=user%></b></a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
            <% } %>
            <li class="nav-item cta cta-colored ">
              <a href="/cart" class="nav-link"
                ><span class="icon-shopping_cart"></span
              ></a>
            </li>
            <li class="nav-item cta cta-colored ">
              <a href="/wishlist" class="nav-link"
                ><span class="icon-heart"></span
              ></a>
            </li>
            <% if(typeof user === 'undefined'){ %>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="dropdown04"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><span class="icon-user"></span
              ></a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/register">Register</a>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section id="home-section" class="hero">
      <div class="home-slider owl-carousel">
        <div class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container-fluid p-0">

            

              
            <div
              class="row d-md-flex no-gutters slider-text "
              data-scrollax-parent="true"
            >
              <img
                class=" order-md-last img-fluid"
                src="/product_images/<%= banner[0].image %>"
                alt=""
                
              />
              <div
                class="one-forth d-flex align-items-center ftco-animate"
                data-scrollax=" properties: { translateY: '70%' }"
              >
                <div class="text">
                  <span class="subheading">#New Arrival</span>
                  <div class="horizontal">
                    <h1 class="mb-4 mt-3 text-secondary">Divine</h1>
                    <p class="mb-4">
                      <%= banner[0].discription%>.
                    </p>

                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      

        <div class="slider-item js-fullheight">
          <div class="overlay"></div>
          <div class="container-fluid p-0">
            <div
              class="row d-flex no-gutters slider-text "
              data-scrollax-parent="true"
            >
              <img class="order-md-last img-fluid" src="/product_images/<%= banner[1].image %>" alt="" />
              <div
                class="one-forth d-flex align-items-center ftco-animate"
                data-scrollax=" properties: { translateY: '70%' }"
              >
                <div class="text">
                  <span class="subheading">#New Arrival</span>
                  <div class="horizontal">
                    <h1 class="mb-4 mt-3 text-secondary">Mystic.</h1>
                    <p class="mb-4">
                      <%= banner[3].discription%>.
                    </p>

                    <p><a href="#" class="btn-custom">Discover Now</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row no-gutters ftco-services">
          <div
            class="col-lg-4 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services p-4 py-md-5">
              <div
                class="icon d-flex justify-content-center align-items-center mb-4"
              >
                <span class="flaticon-bag"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services p-4 py-md-5">
              <div
                class="icon d-flex justify-content-center align-items-center mb-4"
              >
                <span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support Customer</h3>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 text-center d-flex align-self-stretch ftco-animate"
          >
            <div class="media block-6 services p-4 py-md-5">
              <div
                class="icon d-flex justify-content-center align-items-center mb-4"
              >
                <span class="flaticon-payment-security"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Secure Payments</h3>
                <p>
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12  heading-section text-center ftco-animate">
            <h2 class="mb-4">New Arrival</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% products.forEach(function(product){%> <% if(product.deleted ===
          false){ %>

          <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex ">
            <div class="product d-flex flex-column align-items-center justify-content-center">
              <a href="/product?id=<%=product._id%>" class="img-prod"
                ><img
                  class="img-fluid"
                  src="<%= product.image %>"
                  alt="Colorlib Template"
                />
                <div class="overlay"></div>
              </a>
              <div class="text py-3 pb-4 px-3">
                <div class="d-flex">
                  <div class="cat">
                    <span>Lifestyle</span>
                  </div>
                </div>
                <h3>
                  <a href="/product?id=<%=product._id%>"
                    ><%=product.productname%></a
                  >
                </h3>
                <div class="pricing">
                  <p class="price"><span>₹<%=product.price%></span></p>
                </div>
                <p class="bottom-area d-flex px-3" style="cursor: pointer">
                  <a
                    onclick="addtoCart('<%= product._id%>')"
                    class="add-to-cart text-center py-2 mr-1"
                    ><span>Add to cart <i class="ion-ios-add ml-1"></i></span
                  ></a>
                  <a
                    onclick="addToWishlist('<%= product._id%>')"
                    class="add-to-cart text-center py-2 "
                    > <i class="ion-ios-heart ml-1"></i></a>
                </p>
              </div>
            </div>
          </div>
          <% } %> <%})%>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="services-flow">
              <div class="services-2 p-4 d-flex ftco-animate">
                <div class="icon">
                  <span class="flaticon-bag"></span>
                </div>
                <div class="text">
                  <h3>Free Shipping</h3>
                  <p class="mb-0">
                    Separated they live in. A small river named Duden flows
                  </p>
                </div>
              </div>
              <div class="services-2 p-4 d-flex ftco-animate">
                <div class="icon">
                  <span class="flaticon-heart-box"></span>
                </div>
                <div class="text">
                  <h3>Valuable Gifts</h3>
                  <p class="mb-0">
                    Separated they live in. A small river named Duden flows
                  </p>
                </div>
              </div>
              <div class="services-2 p-4 d-flex ftco-animate">
                <div class="icon">
                  <span class="flaticon-payment-security"></span>
                </div>
                <div class="text">
                  <h3>All Day Support</h3>
                  <p class="mb-0">
                    Separated they live in. A small river named Duden flows
                  </p>
                </div>
              </div>
              <div class="services-2 p-4 d-flex ftco-animate">
                <div class="icon">
                  <span class="flaticon-customer-service"></span>
                </div>
                <div class="text">
                  <h3>All Day Support</h3>
                  <p class="mb-0">
                    Separated they live in. A small river named Duden flows
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="heading-section ftco-animate mb-5">
              <h2 class="mb-4">Our satisfied customer says</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in
              </p>
            </div>
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_2.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_3.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap">
                  <div
                    class="user-img mb-4"
                    style="background-image: url(images/person_1.jpg)"
                  >
                    <span
                      class="quote d-flex align-items-center justify-content-center"
                    >
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4 pl-4 line">
                      Far far away, behind the word mountains, far from the
                      countries Vokalia and Consonantia, there live the blind
                      texts.
                    </p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">System Analyst</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	
    <script>
      function addtoCart(id) {
        $.ajax({
          url: "/addtoCart",
          type: "POST",
          encoded: true,
          data: {
            id: id,
          },
        }).done((data) => {
          if (data.success) {
            swal("Added", "Item added to cart", "success" );
            
		}
		else{
			swal("Oops!", "User not found. Please login.", "error");
		}
          
        });
      }
    </script>
    <script>
      function addToWishlist(id){
            $.ajax({
                url : "/addtoWishlist",
                method : "post",
                encoded : true,
                data : {
                    id : id
                }
            }).done((data) => {
                if(data.success) {
                    swal("Added!", "Item has been added to whislist!", "success");
                }else if(data.already){
                    swal("Oops!", "Already added", "error")
                }else {
                    swal("Oops!", "User not found. Please login.", "error")

                }
            })
        }
    </script>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
