<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">


	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="goto-here">

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">Hufako</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a href="/" class="nav-link">Home</a>
					</li>

					<li class="nav-item">
						<a href="/getUserProfile" class="nav-link">About</a>
					</li>
					<li class="nav-item">
						<a href="/order" class="nav-link">Order</a>
					</li>

					<% if(typeof user !=='undefined' ){ %>
						<li class="nav-item">
							<a href="#" class="nav-link">Hello,<b>
									<%=user%>
								</b></a>
						</li>
						<li class="nav-item">
							<a href="/logout" class="nav-link">Logout</a>
						</li>
						<% } %>
							<li class="nav-item cta cta-colored ">
								<a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span></a>
							</li>
							<li class="nav-item cta cta-colored ">
								<a href="/wishlist" class="nav-link"><span class="icon-heart"></span></a>
							</li>
							<% if(typeof user==='undefined' ){ %>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="false"><span class="icon-user"></span></a>
									<div class="dropdown-menu" aria-labelledby="dropdown04">
										<a class="dropdown-item" href="/login">Login</a>
										<a class="dropdown-item" href="/register">Register</a>
									</div>
								</li>
								<% } %>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
					<h1 class="mb-0 bread">Shop</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section bg-light">
		<div class="container">
			
			<form action="/getShop?category=<%= category %>">
				<div class="input-group col-6 mb-4 ">
					<input type="search" class="form-control rounded mr-4" placeholder="Search" name="search" aria-label="Search" aria-describedby="search-addon" />
					<button type="submit" class="btn btn-outline-primary col-4">search</button>
				  </div>
			</form>
			<div class="row">

				<div class="col-md-8 col-lg-10 order-md-last">
					<div class="row">
						<% products.forEach(function(product){%>
							<% if(product.deleted===false){ %>
								<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
									<div class="product d-flex flex-column">
										<a href="/product?id=<%=product._id%>" class="img-prod"><img class="img-fluid"
												src="<%= product.image %>" alt="Colorlib Template">
											<div class="overlay"></div>
										</a>
										<div class="text py-3 pb-4 px-3">
											<div class="d-flex">
												<div class="cat">
													<span>Lifestyle</span>
												</div>

											</div>
											<h3><a href="/product?id=<%=product._id%>">
													<%=product.productname%>
												</a></h3>
											<div class="pricing">
												<p class="price"><span>₹<%=product.price%></span></p>
											</div>
											<p class="bottom-area d-flex px-3">
												<a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart
														<i class="ion-ios-add ml-1"></i></span></a>
												<a href="#" class="buy-now text-center py-2">Buy now<span><i
															class="ion-ios-cart ml-1"></i></span></a>
											</p>
										</div>
									</div>
								</div>




								<% } %>
									<%})%>



					</div>
					<div class="row mt-5">
						<div class="col text-center">
							<div class="block-27">
								<ul>
									<% for( let i = 1; i <= pageCount ; i++){%>
										<% if(i == page){%>
										<li class="active">
											<a href="/getShop?category=<%= category %>&search=<%= Search %>&page=<%= i %>"><%= i %></a>
										</li>
									<%}else {%>
										<li>
											<a href="/getShop?category=<%= category %>&search=<%= Search %>&page=<%= i %>" class="active"><%= i %></a>
										</li>
									<%} %>
									<!-- <li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&gt;</a></li> -->
									<%} %>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-2">
					<div class="sidebar">
						<div class="sidebar-box-2">
							<h2 class="heading">Categories</h2>
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a href="/getShop?category=Male&search=<%= Search %>"> Men's
												</a>
											</h4>
										</div>
										
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a href="/getShop?category=Female&search=<%= Search %>">Women's
												</a>
											</h4>
										</div>
										
									</div>
									
									
								</div>
							</div>
						</div>
						<div class="sidebar-box-2">
							<!-- <h2 class="heading">Price Range</h2>
							<form method="post" class="colorlib-form-2">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="guests">Price from:</label>
											<div class="form-field">
												<i class="icon icon-arrow-down3"></i>
												<select name="people" id="people" class="form-control">
													<option value="#">1</option>
													<option value="#">200</option>
													<option value="#">300</option>
													<option value="#">400</option>
													<option value="#">1000</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="guests">Price to:</label>
											<div class="form-field">
												<i class="icon icon-arrow-down3"></i>
												<select name="people" id="people" class="form-control">
													<option value="#">2000</option>
													<option value="#">4000</option>
													<option value="#">6000</option>
													<option value="#">8000</option>
													<option value="#">10000</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</form> -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>





	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

</body>

</html>